<a href="https://colab.research.google.com/github/ap76-miami/BTE-320/blob/main/in_class_assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Shape Area Calculator
r = 3
h = 10
pi = 3.141
SArea = 2 * pi * r ** 2 + 2 * pi * r * h

print(SArea)

244.998

In [ ]:
#Rock, Paper, Scissors Game (with while loop)
start_game = input('Do you want to play a game? ')

if start_game == 'yes':

  while True:

    P1 = input('Player One chooses: ')
    P2 = input('Player Two chooses: ')

    if P1 == 'rock' and P2 == 'scissors':
        print('Player One wins.')

    elif P1 == 'rock' and P2 == 'paper':
        print('Player Two wins.')

    elif P1 == 'paper' and P2 == 'rock':
        print('Player One wins.')

    elif P1 == 'paper' and P2 == 'scissors':
        print('Player Two wins.')

    elif P1 == 'scissors' and P2 == 'paper':
        print('Player One wins.')

    elif P1 == 'scissors' and P2 == 'rock':
        print('Player Two wins.')

    else:
        print('Draw.')

    play_again = input('Do you want to play again? (yes or no): ')
    if play_again == 'no':
            break

  else:
    print('Bye')

Do you want to play a game? yes
Player One chooses: rock
Player Two chooses: rock
Draw.
Do you want to play again? (yes or no): yes
Player One chooses: rock
Player Two chooses: rock
Draw.
Do you want to play again? (yes or no): no

In [ ]:
#Numerical Calculator
N1 = float(input('Enter first number: '))
OP = str(input('Enter operator: '))
N2 = float(input('Enter second number: '))

if OP == '+' or OP == 'plus':
    print(N1 + N2)

elif OP == '-' or OP == 'minus':
    print(N1 - N2)

elif OP == '*' or OP == 'times':
    print(N1 * N2)

elif OP == '/' or OP == 'divided by':
  if N2 == 0:
      print('cannot divide by zero')
  else:
    print(N1 / N2)

elif OP == '**' or OP == '^' or OP == 'to the power of':
    print(N1 ** N2)

Enter first number: 5
Enter operator: to the power of
Enter second number: 3
125.0

In [2]:
flatRate = 5

hourlyRate = 2.5



for h in range(1, 9):

  charge = flatRate + hourlyRate * h

  if charge < 10:

    charge = 10

  elif charge > 20:

    charge = 20

  print(h, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [1]:
ticketPrice = 10

fixedCost = 200

fixedAttendees = 20



for ad in range(0, 201, 25):

  additionalAttendees = round(2 * ad  ** 0.5)

  profit = (fixedAttendees + additionalAttendees) * ticketPrice - ad - fixedCost

  print(ad, profit)

0 0
25 75
50 90
75 95
100 100
125 95
150 90
175 85
200 80

In [ ]:
#Adding User Inputs to a List
L = []

while True:
    item = int(input('Give a value to add to the list: '))
    if item == 0:
        break
    L.append(item)

L

Give a value to add to the list: 1
Give a value to add to the list: 2
Give a value to add to the list: 3
Give a value to add to the list: 76
Give a value to add to the list: 89
Give a value to add to the list: 0

[1, 2, 3, 76, 89]

In [18]:
months = {}

names = [ " Jan", " Feb", " Mar", " Apr", " May", " Jun", " Jul", " Aug", " Sep", "Oct", "Nov", "Dec"]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]


for i in range(len(numbers)):
    months[numbers[i]] = names[i]

months

{1: ' Jan',
 2: ' Feb',
 3: ' Mar',
 4: ' Apr',
 5: ' May',
 6: ' Jun',
 7: ' Jul',
 8: ' Aug',
 9: ' Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}